.root {
    /*  Colors   */
    default-background-color: #111111;
    off-white: #f5f5f5;
    accent-color: #2290B5;
}

.root * {
    -fx-font-family: "Yu Gothic Light";

    -fx-text-fill: off-white;
    -fx-background: default-background-color;
    -fx-background-color: default-background-color;
}






