@import url("colors.css");


* {
    -fx-background: -fx-default-background-color;
}


.split-pane {

    -fx-border-color: -fx-default-background-color;
}

.scroll-pane {
    -fx-border-color: -fx-default-background-color;
}

.text-field {
    -fx-text-box-border: white;
    -fx-control-inner-background: -fx-default-background-color;
    -fx-prompt-text-fill: white;
}